<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AL</key>
	<real>141.5</real>
	<key>AK</key>
	<real>120.9</real>
	<key>AZ</key>
	<real>101.9</real>
	<key>AR</key>
	<real>112.3</real>
	<key>CA</key>
	<real>128.6</real>
	<key>CO</key>
	<real>108.2</real>
	<key>CT</key>
	<real>110.5</real>
	<key>DE</key>
	<real>129.7</real>
	<key>DC</key>
	<real>122.6</real>
	<key>FI</key>
	<real>135.7</real>
	<key>GA</key>
	<integer>109</integer>
	<key>HI</key>
	<real>121.9</real>
	<key>ID</key>
	<real>150.8</real>
	<key>IL</key>
	<real>114.9</real>
	<key>IN</key>
	<real>106.9</real>
	<key>IA</key>
	<real>78.7</real>
	<key>KS</key>
	<integer>146</integer>
	<key>KY</key>
	<real>91.8</real>
	<key>LA</key>
	<real>155.1</real>
	<key>ME</key>
	<real>77.7</real>
	<key>MD</key>
	<integer>122</integer>
	<key>MA</key>
	<real>102.8</real>
	<key>MI</key>
	<real>141.5</real>
	<key>MN</key>
	<real>158.5</real>
	<key>MS</key>
	<real>96.59999999999999</real>
	<key>MO</key>
	<real>90.09999999999999</real>
	<key>MT</key>
	<real>161.5</real>
	<key>NE</key>
	<real>133.6</real>
	<key>NV</key>
	<integer>109</integer>
	<key>NH</key>
	<real>91.59999999999999</real>
	<key>NJ</key>
	<real>152.1</real>
	<key>NM</key>
	<integer>109</integer>
	<key>NY</key>
	<real>113.3</real>
	<key>NC</key>
	<real>129.7</real>
	<key>ND</key>
	<real>87.8</real>
	<key>OH</key>
	<real>135.9</real>
	<key>OK</key>
	<real>148.2</real>
	<key>OR</key>
	<real>101.7</real>
	<key>PA</key>
	<real>120.4</real>
	<key>RI</key>
	<real>84.5</real>
	<key>SC</key>
	<real>173.2</real>
	<key>SD</key>
	<real>110.3</real>
	<key>TN</key>
	<real>152.9</real>
	<key>TX</key>
	<real>100.4</real>
	<key>UT</key>
	<real>106.9</real>
	<key>VT</key>
	<integer>109</integer>
	<key>VA</key>
	<real>138.5</real>
	<key>WA</key>
	<real>152.5</real>
	<key>WV</key>
	<real>128.2</real>
	<key>WI</key>
	<real>141.5</real>
	<key>WY</key>
	<real>155.3</real>
</dict>
</plist>
